
# This file shows what the 3 different env files contain:


# .env.pqa
ENV_KEY=pqa
CPI_HOST=https://jnj-im-pq-na.it-cpi019.cfapps.us10-002.hana.ondemand.com
CPI_TOKENURL=https://jnj-im-pq-na.authentication.us10.hana.ondemand.com/oauth/token
CPI_CLIENT_ID=abcd
CPI_CLIENT_SECRET=1234

# .env.dev
ENV_KEY=dev
CPI_HOST=https://jnj-im-dev.it-cpi026-rt.cfapps.eu10-002.hana.ondemand.com
CPI_TOKENURL=https://jnj-im-dev.authentication.eu10.hana.ondemand.com/oauth/token
CPI_CLIENT_ID=efgh
CPI_CLIENT_SECRET=5678

# .env
ENV1=dev
ENV2=pqa
