# Tenant Configuration
PUBLIC_PQA_HOST=https://jnj-im-pq-na.it-cpi019.cfapps.us10-002.hana.ondemand.com
PUBLIC_PQA_TOKEN_URL=https://jnj-im-pq-na.authentication.us10.hana.ondemand.com/oauth/token
PUBLIC_PQA_CLIENT_ID=abcd
PUBLIC_PQA_CLIENT_SECRET=1234

PUBLIC_DEV_HOST=https://jnj-im-dev.it-cpi026-rt.cfapps.eu10-002.hana.ondemand.com
PUBLIC_DEV_TOKEN_URL=https://jnj-im-dev.authentication.eu10.hana.ondemand.com/oauth/token
PUBLIC_DEV_CLIENT_ID=efgh
PUBLIC_DEV_CLIENT_SECRET=5678


# Create the following at the root of the project directory:

# File Name: .env.im-pq-na
ENV_NAME=pqa
CPI_HOST=https://jnj-im-pq-na.it-cpi019.cfapps.us10-002.hana.ondemand.com
CPI_TOKENURL=https://jnj-im-pq-na.authentication.us10.hana.ondemand.com/oauth/token
CPI_CLIENT_ID=abcd
CPI_CLIENT_SECRET=1234

# File Name: .env.im-dev-eu
ENV_NAME=dev
CPI_HOST=https://jnj-im-dev.it-cpi026-rt.cfapps.eu10-002.hana.ondemand.com
CPI_TOKENURL=https://jnj-im-dev.authentication.eu10.hana.ondemand.com/oauth/token
CPI_CLIENT_ID=efgh
CPI_CLIENT_SECRET=5678

